<html>
  <head>
    <title>{{ asyncapi.info().title() }}</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
  </head>

  <body>
    <h1>{{ asyncapi.info().title() }}</h1>

    <h3>Available channels</h3>
    {%- for channelName, channel in asyncapi.channels() %}
    {%- if channel.hasSubscribe() %}
    <a href="/{{ channelName | variablesToUrl }}">{{ channelName }}</p>
    {%- endif -%}
    {% endfor %}
    <script>
    let ably;

    function displayHelp() {
      console.log('Available channels:')
      {%- for channelName, channel in asyncapi.channels() %}
      {%- if channel.hasSubscribe() %}
      console.log('* {{ channelName }}');
      {%- endif -%}
      {% endfor %}
      console.log('Available commands:')
      console.log('- listen: Establish a connection with the server at a given path.')
      console.log('  Usage: listen(channelName)');
      console.log(`  Example: listen('{{ asyncapi.channelNames()[0] }}')`);
      console.log('- send: Send a message to the server at a currently connected path.')
      console.log('  Usage: send(message)');
      console.log(`  Example: send({ greet: 'Hello from client' })`);
    }

    function listen(auth) {
      ably = new Ably.Realtime(<%= ablyKey %>);
    }

    function send(channel, message) {
      if (!ably) {
        console.error('You have to call listen(channelName) first. See the list of available commands and below.');
        displayHelp();
        return;
      }
      let msg = message;
      if (typeof msg === 'object') msg = JSON.stringify(msg);
      ably.channels.get(channel).publish(msg);
      console.info('Hint: check out the server logs to see your message.');
    }

    displayHelp();
    </script>
  </body>
</html>
